body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


nav {
  overflow: hidden;
}

a {
  /* float: left; */
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}


a:hover {
  background-color: black;
  color: white;
}

.active {
  background-color: black;
  color: white;
}

.header-section {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  padding: 0px;
  width: 100%;
}

.about-section {
  /* display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: clamp(26px, 5vw);
  white-space: nowrap; */
  max-width: 900px;
}

section {
  margin: 0px auto;
  padding: 100px 0px;
  display: block;
  max-width: 1000px;

}

@media (max-width: 480px) {
  section {
    padding: 60px 0px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 20px;
  }
}

.about-div ul.skills-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 200px));
  list-style-type: square;
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 20px 0px;
}

.about-div ul.skills-list li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  font-size: 13px;
}

.contact-section {
  max-width: 600px;
  margin: 0px auto 100px;
  text-align: center;
}

h1 {
  text-align: center;
  display: block;
  line-height: 1.1;
  margin-block-start: 0.83;
  margin-block-end: 0.83;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 400;
  margin: 10px 0;
  font-size: 36px;
}

h2 {
  font-weight: 600;
  line-height: 1.1;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

}

h3 {
  margin-top: 10px;
  line-height: 1.1;
  font-weight: 600;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

}

.big-heading{
  margin: 0px;
  font-size: clamp(40px, 8vw, 80px);
}



.email {
  float: none;
  color: black;
  background-color: transparent;
  border: 1px solid black;
}

p {
  margin: 0px 0px 15px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

}

.heading-paragraph {
  margin: 20px 0px 0px;
  max-width: 540px;
}

.resume-button {
  color: black;
  background-color: transparent;
  border: 1px dashed black;
  padding: 14px 16px;
  line-height: 1;
  text-decoration: none;
  /* margin-right: 15px; */
  font-size: 17px;
  float: right;
  position: relative;
}

.about-section .inner {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;
}

div {
  display: block;
}

.heading {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: 10px 0px 40px;
  width: 100%;
  font-size: clamp(26px, 5vw, 32px);
  white-space: nowrap;

}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.picture-div {
  position: relative;
  max-width: 300px;
}

.picture-div .wrapper {
box-shadow: 0 10px 30px -15px black;
transition: all 0.25s cubicbezier(0.645, 0.045, 0.355, 1);
display: block;
position: relative;
width: 100%;
border-radius: 4px;
background-color: black;
}

.about-image-div{
  max-width: 500px;
  display: block;
}

img {
  max-width: 100%;
  display: block;
  position: static;

}

.image-wrapper img {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  right: 0;
  top:0;
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.experience-div {
  position: relative;
  z-index: 3;
  width: max-content;
  padding: 0px;
  margin: 0px;
}

@media (min-width: 700px) {
  .experience-inner {
    min-height: 340px;
  }
}

.experience-inner {
  display: flex;
}

.experience-paragraph {
  position: relative;
  /* padding-left: 30px; */
  margin-bottom: 10px;
}

.experience-parent-div {
  max-width: 700px;
  margin: 0px auto;
  padding: 100px 0px;
}

.experience-div2 {
  position: relative;
  width: 100%;
}

.experience-div3 {
  width: 100%;
  height: auto;
  padding: 10px 5px;
}

.work-unordered-list1 {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.work-unordered-list1 a {
  position: relative;
  z-index: 1;
}

.work-listed-items1 {
  position: relative;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
  align-items: center;
}

.work-listed-items1:not(:last-of-type) {
  margin-bottom: 100px;
}

.work-listed-items1:nth-last-of-type(2n+1) .project-content {
  grid-column: 7 / -1;
  text-align: right;
}

.work-listed-items1 .project-content {
  position: relative;
  grid-area: 1 / 1 / -1 / 7;
}

@media (max-width: 480px) {
  .work-listed-items1:nth-of-type(2n+1) .project-content {
    padding: 25px 25px 20px;
  }
}

@media (max-width: 768px) {
  .work-listed-items1:nth-of-type(2n+1) .project-content {
    grid-column: 1 / -1;
    text-align: left;
  }
}

@media (max-width: 768px) {
  .work-listed-items1 .project-content {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    height: 100;
    z-index: 5;
  }
}

.work-listed-items1 .project-overline {
  margin: 10px 0px;
  color: black;
  font-size: 13px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .work-listed-items1 .project-title {
    margin: 0px 0px 20px;
  }
}

.work-listed-items1 .project-title {
  color: black;
  font-size: clamp(24px, 5vw 28px);
}

.work-listed-items1 .project-description {
  box-shadow: 0 10px 30px -15px black;
  position: relative;
  z-index: 2;
  padding: 25px;
  border-radius: 4px;
  background-color: black;
  color: white;
  font-size: 18px;
}

.work-listed-items1:nth-of-type(2n+1) .technologies-used-list {
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.work-listed-items1 .technologies-used-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  margin: 25px 0px 10px;
  padding: 0px;
  list-style: none;
}

.work-listed-items1:nth-of-type(2n+1) .technologies-used-list{
  margin: 0px 0px 5px 20px;
}

.work-listed-items1 .technologies-used-list li {
  margin: 5px;
  color: black;
  font-size: 13px;
  white-space: nowrap;
}

.work-listed-items1:nth-of-type(2n+1) .project-links {
  -webkit-box-pack: end;
  justify-content: flex-end;
  margin-left: 0px;
  margin-right: -10px;
}

.work-listed-items1 .project-links {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin-top: 10px;
  color: black;
}

.work-listed-items1 .project-image .image {
  border-radius: 4px;
  mix-blend-mode: multiply;
  filter: grayscale(0%) contrast(1) brightness(90%);
}

.work-listed-items1:nth-of-type(2n+1) .project-image {
  grid-column: 1 / 8;
}

.work-listed-items1 .project-image {
  box-shadow: 0 10px 30px -15px white;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  grid-area: 1 / 6 / -1 / -1;
  position: relative;
  z-index: 1;
}

.work-listed-items1 .project-image .project-image-link {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  vertical-align: middle;
}

.work-image-div {
  max-width: 700px;
  display: block;
}

.image-wrapper {
  position: relative;
  overflow: hidden;
}

.image-wrapper-constrained {
  display: inline-block;
}

img, .image-wrapper {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

.project-image-link:hover {
  background-color: transparent;
}

.contact-heading {
  font-size: clamp(40px, 5vw, 60px);
}

footer {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  min-height: 70px;
  padding: 15px;
  text-align: center;
}

.navigation {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 0.5rem 0rem;
  background-color: #fff;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}


.navigation-menu {
  /* margin-left: auto; */
}


.navigation-menu ul {
  display: flex;
  padding: 0;
}

.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}

.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #283b8b;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  /* position: absolute; */
  display: none;
}

.hamburger:hover {
  background-color: #2642af;
}

.resume-div {
  position: absolute;
  right: 0;
}

@media (max-width: 768px) {
  .hamburger {
  display: block;

  }

  .navigation-menu ul {
    flex-direction: column;
    position: fixed;
    /* top: 60px; */
    left: 0;
    width: 100%;
    height: calc(100vh - 77px);
    background-color: white;
    border-top: 1px solid black;
    display: none;
  }

  .navigation-menu li {
    text-align: center;
    margin: 0;
  }

  .navigation-menu li a {
    padding: 1.5rem 0;
  }

  .navigation-menu.expanded ul {
    display: block;
    background-color: white;
  }

  .about-div ul.skills-list {
    grid-template-columns: repeat(2, minmax(200px, 200px));
  }
  .resume-div {
    right: 40%;
    width: 20%;

  }

  .picture-div {
    position: absolute;
    top: 700px;
  }
}
